h1 {
    color: grey;
}

.postBox {
    margin: 1%;
    padding: 3%;
    border-style: solid;
    /* border-radius: 10px; */
    width: 30%;
    transition: 300ms;
    height: 80vh;
}

.postsContainer {
    display: flex;
    flex-flow: row wrap;
    border: solid black;
    justify-content: space-between;
    /* align-self: flex-start; */
}

.postsContainer :hover {
    transition: ease-in 300ms;
    background-color: rgb(243, 234, 234);
    /* cursor: pointer; */
}

.firstPost {
    margin: 1%;
    padding: 3%;
    border-style: solid;
    width: 100%;
    height: 80vh;
    text-decoration: none;
    color: black;
    transition: ease-in 300ms;
}

.img-thumbnail {
    padding: 0;
    height: 40%;
    max-width: 100%;
}