.post-box {
    width: 60%;
}

.post-text {
    letter-spacing: -0.003em;
    line-height: 28px;
    margin-top: 1.56em;
    font-size: 18px;
    margin-bottom: -0.46em;
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    font-style: normal;
    word-break: break-word;
    font-weight: 400;
    white-space: pre-wrap;
}